/assets/js/chart.min.js
/assets/js/chartjs-plugin-datalabels.min.js
/assets/js/FileSaver.min.js
/assets/js/izitoast.js
/assets/js/jquery.js
/assets/js/xlsx.full.min.js
/assets/css/app.css
/assets/css/chart.min.css
/assets/css/izitoast.css
